<p>
  If you see <code>Failed to connect to ...</code>, then wait a few seconds
  before trying the <strong>Connect to COMSOL Server</strong> button again.
  This warning appeared because the COMSOL Server is still starting up.
</p>
<form action="{{> node}}/login" method="post" target="_blank">
    <input type="hidden" name="password" value="{{password}}">
    <button class="btn btn-primary" type="submit">
      <i class="fa fa-eye"></i>
      Connect to Jupyter
    </button>
</form>
