<span style="font-size:2.5em;">Jupyter Updates since Downtime</span>

1. The Julia kernels 0.5.1 and Julia 0.6.4 have been removed.
2. Julia kernels >= 1.0 are not automatically installed. 
    See [the documentation on installing Julia kernels](https://www.osc.edu/resources/available_software/software_list/julia#install_julia_kernel).
3. Python kernels for Conda environments created using Python 2.7, 3.5 and 3.6 on Owens are not automatically installed. 
   See [the documentation on conda driven python kernels](https://www.osc.edu/resources/getting_started/howto/howto_use_a_condavirtual_environment_with_jupyter).

